@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-main: #163172;
        --bg-back: #F6F6F6;
        --bg-panel: #FFFFFF;
        --bg-side: #F6F6F6;

        --border-label:  #163172;

        --text-font: #000000;
        --text-main: #163172;
        --text-back: #F6F6F6;

        --bg-first: #E2E5ED;
        --bg-second: #A8B2CA;
        --bg-third: #506595;
        --bg-most: #163172;

        background-color: #F6F6F6;
    }
    .dark {
        --bg-main: #2C394B;
        --bg-back: #082032;
        --bg-panel: #334756;
        --bg-side: #F6F6F6;

        --border-label: #2C394B;

        --text-font: #FFFFFF;
        --text-main: #2C394B;
        --text-back: #082032;
        
        --bg-first: #E2E5ED;
        --bg-second: #A8B2CA;
        --bg-third: #506595;
        --bg-most: #163172;

        background-color: #082032;
    }
    .ssuk {
        --bg-main: #6F8788;
        --bg-back: #F6F6F6;
        --bg-panel: #FFFFFF;
        --bg-side: #F6F6F6;

        --border-label: #6F8788;

        --text-font: #6F8788;
        --text-main: #6F8788;
        --text-back: #F6F6F6;

        --bg-first: #E2E5ED;
        --bg-second: #A8B2CA;
        --bg-third: #506595;
        --bg-most: #163172;

        background-image: url('../../assets/bg/ssuk_night.gif');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .blue {
        --bg-main: #14279B;
        --bg-back: #F6F6F6;
        --bg-panel: #FFFFFF;
        --bg-side: #F6F6F6;

        --border-label: #14279B;

        --text-font: #14279B;
        --text-main: #14279B;
        --text-back: #F6F6F6;

        --bg-first: #E2E5ED;
        --bg-second: #A8B2CA;
        --bg-third: #506595;
        --bg-most: #163172;

        background-image: url('../../assets/bg/blue_night.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .eclipse {
        --bg-main: #FF8243;
        --bg-back: #F6F6F6;
        --bg-panel: #FFFFFF;
        --bg-side: #F6F6F6;
        
        --border-label: #FF8243;

        --text-font: #FF8243;
        --text-main: #FF8243;
        --text-back: #F6F6F6;

        --bg-first: #E2E5ED;
        --bg-second: #A8B2CA;
        --bg-third: #506595;
        --bg-most: #163172;

        background-image: url('../../assets/bg/eclipse.gif');
        background-repeat: no-repeat;
        background-size: cover;
    }
}